body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

body a {
    color: #D45538;
}

h1 {
    margin-top: 1vh;
}

/* Scale Img */
.responsive { 
    width: 100%; 
    height: auto; 
} 
.center { 
    margin: auto; 
    width: 100%; 
} 
.inner-div { 
    transition: all .5s ease-in-out; 
    /* Chrome & Firefox: To make image height full height of parent container */ 
    height: 100%;
} 

.outer-div { 
    overflow: hidden; 
    /* Chrome & Firefox: To make outer-div height full height of parent container */ 
    /* height: 100%;  */
}
/* End Scale Img */

/* BUTTON */
button.btn-lg {
    margin: 1vw 0px 2vw;
    border-radius: 25px;
    background-color: #D45538;
    color: #fff;
}
/* END BUTTON */

.about-container, .projects-container, .recs-container, .pubs-container {
    margin: 3% 0px;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0px;
    height: 100%;
    overflow: hidden;

    /* 
    fixed = parallax
    scroll = normal
     */
     background-attachment: fixed;
     /* display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center; */
}

.pimg1 {
    background-image: url('/app/img/image1.jpg');
    height: 100%;
    /* min-height: 100%; */
    background-size: cover;
}

.pimg2 {
   
    /* position:fixed; */
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1;
    display:block;
    background:url(http://www.pmob.co.uk/mobile/images/a1.jpg) no-repeat 50% 50%;
    background-size:cover;
}

.pimg2 {
    background-image: url('/app/img/bridge2.jpg');
    min-height: 400px;
    background-position: 100% 100%;
}

.pimg3 {
    background-image: url('/app/img/vine3.jpg');
    min-height: 400px;
    background-position: 50% 22%;
}

.pimg4 {
    background-image: url('/app/img/rafting.jpg');
    min-height: 400px;
    background-position: 50% 50%;
}

.pimg5 {
    background-image: url('/app/img/image1.jpg');
    min-height: 400px;
    background-position: 100% 100%;
}

section {
    text-align: center;
    padding: 3% 5%;
    width: 100%;
}

.section-light {
    background-color: #D8D9DA;
    color: #282e34;
}

.section-dark {
    background-color: #282e34;
    color: #f0f2f4;
}

/* HEADER */
.header h1 {
    margin: 1vw 0px;
}

.header .jhb-photo {
    width: 250px;
    height: 250px;
    border-radius: 100px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/jhb2.jpg) no-repeat;
    background-size: 220%;
    padding: 10px;
    position: relative;
    background-position: 43% 52%;
}

.header .header-content {
    padding: 10% 0;
}
/* END HEADER */

/* EDUCATION */
.school {
    margin: 5vh 0 0;
}

.education h3 {
    margin-bottom: 0px;
}

.education h5 {
    margin-top: 1vw;
}
/* END EDUCATION */


/* PROJECTS */
.projects .project {
    padding-bottom: 20px;
    text-align: center;
}

.projects .portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.projects .portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    background: #282e34;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border-radius: 5px;
}

.projects .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.projects .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.projects .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.projects .project img {
	border: 1px solid black;
    border-radius: 5px;
    max-width: 100%;
}

.projects .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-weight: 600;
}

.projects .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.projects .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}
/* END PROJECTS */

/* RECOMMENDATIONS */
.rec-container {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 1vw 0px;
}

.rec-photo {
    border-radius: 75px;
}

.sush {
    background: url(/app/img/sush.jpg);
    background-position: 50% 26%;
    background-size: 189%;
    border:0;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.rec-container.bhav .col-md-9 {
    order: 1;
}
.rec-container.bhav .col-md-3 {
    order: 2;
}

.rec-text {
    padding: 0px 2vw;
}

.rec-name {
    font-size: .75em;
}

.rec-container:hover .rec-photo {
    animation: jump 0.5s; 
}

@keyframes jump {
    0% { transform: translate(0px, -12px) rotate(0deg); }
    20% { transform: translate(0px, 0px) rotate(0deg); }
    40% { transform: translate(0px, 6px) rotate(0deg); }
    60% { transform: translate(0px, 0px) rotate(0deg); }
    80% { transform: translate(0px, -3px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}
/* END RECOMMENDATIONS */

/* PUBLICATIONS */
.pub-text {
    width: 100%;
    height: 100%;
}

.pub-work p {
    color: #D45538;
}

.pub-music {
    display: flex;
}

.pub-music .pub-text {
    order: 2
}

.pub-music .pub-work {
    order: 1;
}

.publication {
    margin: 1vw 0;
}

.pubs-container .title-music::before, .pubs-container .title-music::after {
    content: " \266B";
    margin-right: 5px;
}

.pubs-container .title-film::before, .pubs-container .title-film::after {
    content: " \1F3A5";
    margin-right: 5px;
}
/* END PUBLICATIONS */

/* CONTACT */
.media-img {
    border-radius: 5px;
}

.github {
    border-radius: 50%;
    height: 50px;
}

.contact-container p {
    margin: 0px;
}
.contact-text p:last-child {
    margin-bottom: 1vw;
}

.github-code {
    margin-top: 40px;
}
/* END CONTACT */

@media only screen and (min-width: 769px) {
    body a:hover {
        color: #E95D3E;
        text-decoration: underline;
    }

    /* Scale Img */
    .inner-div:hover { 
        transform: scale(1.15); 
    }
    /* End Scale Img */

    /* Button */
    button.btn-lg:hover {
        background-color: #E95D3E;
    }
    /* End Button */

    /* Education */
    .education .school:hover {
        color: #E95D3E;
        text-decoration: underline;
        cursor: pointer;
    }
    /* END EDUCATION */

    /* Recommendations */
    .rec-container:hover .rec-photo {
        animation: jump 0.5s; 
    }
    /* End Recommendations */

    .pub-work:hover p {
        color: #E95D3E;
        text-decoration: underline;
    }
}

/* @media only screen and (max-width: 768px) {
    .pimg2, .pimg3, .pimg4, .pimg5 {
         background-attachment: scroll;
         display: none;
    } */

    /* .pimg2 {
        background-image: url('/app/img/ggsmall.jpg');
        background-position: 75% 60%;
        display: none;
    }

    .pimg5 {
        background-position: 30% 100%;
        display: none;
    } */

    /* .rec-container {
        display: inline-block;
    }
    .rec-img-container {
        margin-bottom: 2vh;
    }

    .pub-music .pub-text {
        order: 1;
    }

    .pub-music .pub-work {
        order: 2;
    } */
/* } */
